<!DOCTYPE html>

<html>
	<head>
		<title>GoalPeer</title>
		<!-- Import CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link type="text/css" rel="stylesheet" href="css/main.css">
		<link type="text/css" rel="stylesheet" href="css/main.css">
	</head>
	<style>
	.btn-success{
		margin-left:400px;
		width:500px;
		height: 150px;

	}
	#gp-logo{
		margin-top: 0px;
		margin-bottom:0px; 
		margin-left: 400px;
		height: 120px;
		width:1000px;
		text-align: center;
		margin-right: 400px;
		font-size: 50px;


	}
	#login-button{
		margin-top: 180px;
		margin-left: 40%;
		height: 150px;
		width: 400px;
		font-size: 36px;
		margin-bottom: 75px;
	}
	
		
	body{
		background-image: url("images/Rain.JPG");
		background-repeat: no-repeat;
		background-size: 2000px 1000px;
		opacity: 0.4;
	}
	
	}
	}
	/*div.transbox{
		opacity: 0.4;
	}
	img{
		opacity: 1.0;

	}*/
	.container{
		margin-right: 200px;
		margin-top: 0px;
	}
	</style>

	<body>

<div] class="container">
		<!--<div class="btn btn-success">-->
			<h1  id="gp-logo" class ="btn btn-success">GoalPeer</h1>
		</div>
		<div class="transbox">
		<div>
			<a href="/accomplishments"><button class="btn btn-info" id="login-button">Login</button></a>
		</div>
		</div>
	<!--</div>-->

		<script src="js\jquery-1.11.0.js"></script>
		<script src="js\bootstrap.js"></script>
	</body>
</html>