body {
	margin:0px;
	background-color:#F2F2F2;
	font-family: 'Raleway', sans-serif;
}

.header-page {
	border-bottom: 1px solid #B3B3B3;
	background-color: #FFD95F;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding-left:2.5%;
	padding-top:10px;
	padding-bottom:10px;
	/*min-height:60px;*/
}

/* Restyle Bootstrap glyphicons and header */
.header-page a, .header-page h1 {
	color: #3E116D;
	font-size: 25px;
}

.header-page table {
	width:100%;
}

.cell-header {
	width: 80%;
}
.cell-header h1 {
	/*color: #428bca;*/
	display:inline;
	margin-top:0px;
	margin-bottom:0px;
	font-weight:700;
	font-family: 'Raleway', sans-serif !important;
}

.icon-settings {
	 width: 20px;
}

.container-content-main {
	margin-top: 55px;
	margin-bottom: 50px;
	overflow-y:hidden;
}

#navbar {
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	border-collapse: collapse;
}
#navbar button {
	/*width: 100%;*/
	height:50px;
	margin-left:0px;
	margin-right: 0px;
	font-size: 180%;
	font-weight: 400;
	/*background-color:#f8f8f8;*/
	color: white;
	border-collapse: 100%;
	border:0px;
	background-color:white;
	border-top: 1px solid #B3B3B3;
	border-left: 1px solid #B3B3B3;
}



#linebreak {
	position: relative;
	height: 50px;
}


/*respect entry testing*/
.respectentry-container {
	background-color: #eef3f6;
	width:100% auto;
	clear:both;
	border-bottom:1px solid #ddd;
	/*height:40px;*/
	padding-top:10px;
	padding-bottom:10px;
	padding-left:2.5%;
	padding-right:10px;
	overflow-y:hidden;




}

.respecticon {
	background-color: #eef3f6;
	float:left;
	height:2em;
	margin-right:10px;

}

.respectentry-top {
	background-color: #eef3f6;
	display:inline;
	float:right;
	margin-left:5px;


}

.respectentry-bottom {
	background-color: #eef3f6;
	display:inline;
	top:50%;

}

.respectentry-bottom p {
	display:inline;
}

.delete {
	float:right;
	display:inline;
}

#goaldiv {
	width:90%;
	margin:auto;
}

#accomplishments-page{
width: 100%;

}
#respects-page{
	width: 100%;

}
#goalList-page{
	width: 100%;

}

#accomplishmentsicon{
}

#accomplishmentsicon img{
	height:40px;
	width:40px;
	margin:auto;
}

#goalsicon img{
	height:40px;
	width:40px;
}

#respectsicon img{
	height:40px;
	width:40px;
	margin:auto;
}


/*GOALSPAGE CSS*/
			.block-ltg {
				/*border: 2px solid #3E116D;*/
				/*border-radius: 15px;*/
				font-size: 1.8em;
				padding: 10px;
				margin-top: 20px;
				margin-bottom: 20px;
				text-align:center;
				background-color:white;
			}
			.block-ltg h1 {
				display:inline;
				font-size:1em;
				margin-top: 10px !important;
			}
			.block-ltg:hover {
				background-color: #3E116D;
				color: white;
			}
			.ltg-complete-true {
				background-color:#70E5A0;
			}
			.ltg-complete-true:hover {
				background-color: #70E5A0;
			}
			.wg-complete-true {
				color:green;
			}
			.goals-delete, .goals-complete {
				display:inline;
				float:right;
			}
			.goals-delete button {
				background-color: #CC5552;
				border:none;
				margin-left:5px;
			}
			.goals-complete button {
				background-color: #70E5A0;
				border:none;
			}
			.div-goal-add {
				border: 2px solid #3E116D;
				color: #f8f8f8;
				background-color:#3E116D;
			}
			.div-goal-add:hover {
				background-color:#f8f8f8;
				color: #3E116D;
				/*color: black;*/
			}
			.input-goal-add, .input-goal-add:hover {
				background-color: white;
				color: #3E116D;
			}
			.input-goal-add {
				font-size: 20px;
				font-weight: bold;
				width:100%;
			}
			.button-add-wgs {
				display:inline;
				margin-top:10px;
				margin-left:auto !important;
				margin-right:auto !important;
				border:none;
			}
			#header {
				text-align: center;
				background-color:#43f2b6;
				top:0;
				width:100%;
				-webkit-box-shadow: 0px 0px 4px 0px #000000;
				-moz-box-shadow: 0px 0px 4px 0px #000000;
				box-shadow: 0px 0px 4px 0px #000000;
				color:white;
				z-index:3333;
				position:fixed;
				left:0px;
			}
			#header * {
				margin-right: 10px;
			}
			#header table {
				width: 100%;
			}
			#header #cell-header {
				width: 80%;
				font-size: 50%;
				color: white;
			}
			#header img {
				width: 20px;
			}
			#header p {
				margin-top: 2px;
				color: black;
			}

			.glyphicon-collapse-down {
				float: left;
				font-size: 40px;
				margin-top:10px;
				margin-left:5px;
				   		font-size: 0.8em;
			}

@media screen and (max-width: 750px) {
	#goaldiv { 
		width:100%;
			        
   }

   .block-ltg {
   		padding:5px;
   }
   .block-ltg h1 {
   		font-size: 0.8em;
   		display:block;
   } 
   .glyphicon-collapse-down {

   }
   .container-content-main {
	margin-top: 35px;

}


}

